<html>
<head>
    <title>003.html</title>
    <style>
        body {
            margin: 0;
        }

        div.stripe {
            width: 500px;
            height: 100px;
        }

        div#black {
            background-color: black;

        }

        div#red {
            background-color: red
        }

        div#yellow {
            background-color: #ffd700
        }

    </style>

</head>

<body>
    <div id="black" class = "stripe"></div>
    <div id="red" class = "stripe"></div>
    <div id="yellow" class = "stripe"></div>

</body>

</html>