<html>
<head>
    <title>009.html</title>
    <style>

    body {
        font-family: sans-serif;
    }

    label {
        width: 150px;
        display: inline-block;
    }



    </style>
</head>
<body>

<h1>A Fancy Form</h1>

<form action="/007">
<div>
<label for="username"><strong>Name</strong></label>
<input type ="text" name="username"></input>
</div>

<div>
<label for="age"><strong>Age</strong></label>
<input type="text" name="age"></input>
</div>

<div>
<label for="favorite_color">Favorite Color</label>
<select name="favorite_color">
    <option value="Magenta" selected="selected">Magenta</option>
    <option value="Red">Red</option>
    <option value="Green">Green</option>
    <option value="Fuschia">Fuschia</option>
    <option value="Blue">Blue</option>
</select>
</div>

<div>
<label for="music">Love Music</label>
<input type="radio" name="music" value="love">
</div>

<div>
<label for"music">Hate Music</label>
<input type="radio" name="music" value="hate">


</div>

<div>

<label for="raining">Is it raining?</label>
<input type="checkbox" name="raining" value="raining">
</div>

<div>
<input type="submit">
</div>

</body>
</html>