<html>
<head>
    <title>008.html</title>
    <style>

    body {
        font-family: sans-serif;
    }


    </style>
</head>
<body>

<h1>A Fancy Form</h1>
<form action="/007">
<div>

<label for="username"><strong>Name</strong></label>
<input type ="text" name="username"></input>
</div>

<div>
<label for="age"><strong>Age</strong></label>
<input type="text" name="age"></input>
</div>

<div>
<label for="favorite_color">Favorite Color</label>
<select name="favorite_color">
    <option value="Magenta" selected="selected">Magenta</option>
    <option value="Red">Red</option>
    <option value="Green">Green</option>
    <option value="Fuschia">Fuschia</option>
    <option value="Blue">Blue</option>
</select>
</div>

<div>

<input type="radio" name="music" value="love">Love Music
<input type="radio" name="music" value="hate">Hate Music


</div>

<div>

<input type="checkbox" name="raining" value="raining">Is it raining?

</div>


<div>
<input type="submit">
</div>


</body>
</html>